html {
    height: 100%;
}

body {
    padding: 0;
    height: calc(100% - 16px);
    display: flex;
    justify-content: center;
    transition: color 0.5s, background-color 0.5s;
    line-height: 1.6;
    font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
        Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#app {
    height: 100%;
    width: 80%;
}

.center-both {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-horizontal {
    display: flex;
    justify-content: center;
}

.center-vertical {
    display: flex;
    align-items: center; 
}

@media only screen and (max-width: 1000px) {
    #app {
        width: 90%;
    }
}

@media only screen and (max-width: 700px) {
    #app {
        width: 100%;
    }
}