html {
    height: 100%;
}

body {
    padding: 0;
    height: calc(100% - 16px);
    display: flex;
    justify-content: center;
    transition: color 0.5s, background-color 0.5s;
    line-height: 1.6;
    font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
        Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    background-color: var(--el-bg-color);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#app {
    height: 100%;
}

#app, .menu {
    width: 80%;
}

.image-notification {
    padding: 25px !important;
    width: 310px !important;
    justify-content: space-evenly;
    user-select: none;
}

.image-notification > .el-notification__icon {
    height: auto !important;
    width: auto !important;
    align-items: start !important;
}

.center-both {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-horizontal {
    display: flex;
    justify-content: center;
}

.center-vertical {
    display: flex;
    align-items: center; 
}

@media only screen and (max-width: 1280px) {
    #app, .menu {
        width: 90%;
    }
}

@media only screen and (max-width: 720px) {
    #app, .menu {
        width: 100%;
    }
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: rgba(163, 166, 173, 0.3) transparent;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-thumb {
    background-color: rgba(163, 166, 173, 0.3);
    border-radius: 10px;
    border: 3px none transparent;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: rgba(163, 166, 173, 0.5);
}